.dist{
    display: flex;
}
.dist label{
    margin: 0px 20px;
}
.enviar{
    width: 100%;
}

.contacto .contacto--map__container .map--contact .mapa{
    background: none;
    display: block;
    height: 330px;

}

/* Media query de 768px pra abajo */
@media (max-width: 768px) {
    .enviar{
        width: 96%;
    }

    .dist label{
        width: fit-content;
    }
}

@media (max-width: 427px) {
    .enviar{
        width: 96%;
    }

    .dist label{
        width: fit-content;
    }

    .dist {
        font-size: 3.5vw;
    }
}

@media (max-width: 375px) {
    .dist {
        font-size: 3vw;
    }
    
}