footer {
  background-image: linear-gradient(to right, #3a38ec, #961fd6, #c400be, #e300a6, #f61e90);
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer .footer_top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

footer .footer_top .footer_top--imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 12rem;
    height: 7rem;
  }

  span {
    color: white;
    margin-top: 8px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
  }
}

footer .footer_top div h6 {
  display: block;
  color: white;
  text-align: start;
  margin-bottom: 1rem;
}

footer .footer_top div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 17px; 
}

footer .footer_top div ul li {
  margin-bottom: 1rem;
  display: flex;
}

footer .footer_top div .footer_top--contact_list li i,
footer .footer_top div .footer_top--legal_list li i {
  display: flex;
  width: 2rem;
  justify-content: flex-start;
  align-items: center;
}


.footer_top--social-media_list {
  display: flex;
  gap: 8px;
}

footer .footer_top--social-media_list li i {
  width: auto;
  font-size: 26px;
  transition: font-size 0.2s ease;
}

footer .footer_top--social-media_list li i:hover {
  color: white;
  font-size: 24px;
}

footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 2rem;
  color: rgb(216 220 222 / 73%);
  border-top: 2px solid white;
  font-size: 17px;
}


@media (max-width: 1024px)  {
  footer .footer_top {
    padding-right: 0;
  }

  footer .footer_top div ul {
    font-size: 14px;
  }

  footer .footer_top .footer_top--imagen span {
    font-size: 16px;
  }

  footer .footer_bottom {
    font-size: 14px;
  }
}

@media (max-width: 840px) {
  footer .footer_top {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  footer .footer_top .footer_top--imagen span {
    font-size: 14px;
  }

  footer .footer_top .footer_top--contact,
  footer .footer_top .footer_top--legal,
  footer .footer_top .footer_top--social-media {
    justify-self: center;
  }

  footer .footer_top div .footer_top--contact_list li i {
    width: auto;
    margin-right: 12px;
  }

  footer .footer_top div h6  {
    text-align: center;
  }

  footer .footer_top div ul li {
    justify-content: center;
    margin-bottom: 4px;
  }

  footer .footer_top {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  footer .footer_bottom {
    font-size: 14px;
  }
}

@media (max-width: 640px)  {
  footer .footer_bottom {
    flex-direction: column;
    text-align: center;
    border-top: none;
  }
}

@media (max-width: 426px) {
  footer .footer_top div ul li {
    justify-content: start;
  }

  footer .footer_top .footer_top--contact,
  .footer_top .footer_top--legal {
    width: 100%;
  }

  footer .footer_top div .footer_top--contact_list,
  footer .footer_top div .footer_top--legal_list {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}