.container-principal {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}
.image-reference {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  background: linear-gradient(346deg, #009bff 0%, #6a27b5 60.644921720027924%);
}
.image-reference img {
  width: 500px;
  height: 600px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 600px;
}
.card-body h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-top: 15px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.card-body .image-logo {
  margin-bottom: 15px;
}
.card-body-image {
  background-color: antiquewhite;
}
.d-grid button {
  background: #6a27b5;
}
.d-grid button:hover {
  background: #5e348d;
}
.fa-circle-left {
  color: #ffffff; /* Color blanco */
}
@media (max-width: 920px) {
  .image-reference {
    display: none;
  }
  .fa-circle-left {
    color: #000000;
  }
}
.butonSub {
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.btn-login {
  background: #009bff !important;

  width: 50% !important;
  margin: 0 !important;
  position: relative;
  left: 0 !important;
}
@media (max-width: 700px) {
  .btn-login {
    width: 70% !important;
  }
}
