/* SECTION PRINCIPAL */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero h1 {
  font-size: 5vw;
  line-height: 5.5vw;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.container-hero {
  position: relative;
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  justify-content: center;
  align-items: space-evenly;
  color: white;
}

.container-hero p {
  font-size: 2vw;
  margin-top: 1rem;
}

.container-hero p span {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 0px 1px 6px black;
}

.hero-buttom {
  width: fit-content;
  padding: 15px 25px;
  border: none;
  color: white;
  background-color: purple;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 5px 5px;
}

.hero-buttom :hover {
  cursor: pointer;
}

.hero-redes-sociales {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  background-color: rgba(128, 0, 128, 0.5);
  height: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero-redes-sociales a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.hero-redes-sociales a:hover {
  text-decoration: none;
  color: #f83691;
  cursor: pointer;
}

/* Hero Servicios */
.hero-servicios .container-hero {
  width: 100%;
  margin: 0;
  background: rgb(248, 54, 204);
  background: linear-gradient(
    90deg,
    rgba(248, 54, 204, 0.022846638655462215) 13%,
    rgba(248, 54, 145, 0.5858718487394958) 100%
  );

  div {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 6vw;
      width: 60vw;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 16px;
      line-height: normal;
    }
  }
}

.form {
  margin-top: 80px;
  display: flex;
  background-color: #f5f5f5;
}

.cont_form_img img {
  width: 45vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.cont_form_data .cont_form_sect {
  width: 50vw;
  height: auto;
  margin-left: 15px;
}

.enviar {
  margin-top: 15px;
  width: 30%;
  padding: 6px;
  border: none;
  background-color: red;
  opacity: 0.7;
  color: white;
  transition: 0.7s;
}

@media screen and (max-width: 1024px) {
  /* Hero */
  .hero h1 {
    font-size: 6vw;
    line-height: 6.5vw;
  }

  .container-hero {
    width: 50vw;
  }

  .container-hero p {
    font-size: 2.5vw;
    margin-top: 2rem;
  }

  /* Hero Servicios */
  .hero-servicios .container-hero div h1 {
    letter-spacing: 12px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    flex-direction: column; /* Cambio de dirección a columna en pantallas pequeñas */
  }

  .cont_form_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }

  .cont_form_data .cont_form_sect {
    width: 100%;
    margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
  }

  .enviar {
    width: 100%;
    margin: 10px;
  }

  /* Hero */
  .container-hero {
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10vw;
  }

  .hero h1 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .hero-buttom {
    font-size: 12px;
  }

  .container-hero p {
    font-size: 3vw;
    margin-top: 1rem;
  }

  .hero-redes-sociales a {
    font-size: 12px;
  }

  /* Hero Servicios */
  .hero-servicios .container-hero div h1 {
    font-size: 8vw;
    width: 90vw;
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 425px) {
  /* Hero */
  .container-hero {
    padding: 0 8vw;
  }

  .hero-redes-sociales {
    width: 90%;
    height: 36px;
    a {
      font-size: 8px;
    }
  }

  .hero h1 {
    font-size: 9vw;
    line-height: 9vw;
  }

  .container-hero p {
    font-size: 4vw;
  }

  .hero-buttom {
    padding: 10px 20px;
    margin-top: 5px;
  }

  /* Hero Servicios */
  .hero-servicios .container-hero div h1 {
    font-size: 10vw;
    letter-spacing: 4px;
  }
}

.col {
  background-color: #6a27b5;
  opacity: 1;
  width: 100%;
  height: 250px;
}
.cont {
  width: 100%;
  display: flex;

  justify-content: space-around;
  padding-top: 85px;
  flex-wrap: wrap;
  color: white;
}
