/* Servicio Mensajes */
body .anuncio-diseno-desarrollo,
body .anuncio-branding-diseno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(128 0 128);
  padding: 2.5rem 2rem;
}

body .anuncio-diseno-desarrollo h2,
body .anuncio-branding-diseno h2 {
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 3vw;
  text-align: center;
  line-height: 3.5vw;
  width: 80vw;
}

body .anuncio-branding-diseno span {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4px;
  color: white;
  font-size: 3vw;
}

body .anuncio-diseno-desarrollo .bota1,
body .anuncio-branding-diseno .bota1 {
  margin: 0;
  transition: transform 0.3s; 
}

body .anuncio-diseno-desarrollo .bota1:hover,
body .anuncio-branding-diseno .bota1:hover {
  transform: scale(1.05)
}

body .anuncio-diseno-desarrollo .bota1 a,
body .anuncio-branding-diseno .bota1 a {
  text-decoration: none;
  width: fit-content;
  padding: 8px 34px;
  border: none;
  color: white;
  background-color: rgb(237 8 125);
  margin-top: 1rem;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 5px 5px;
}

body .anuncio-diseno-desarrollo .bota1 a:hover,
body .anuncio-branding-diseno .bota1 a:hover {
  cursor: pointer;
}


/* Media Queries */
@media screen and (max-width: 1024px) {
  body .anuncio-diseno-desarrollo h2,
  body .anuncio-branding-diseno h2,
  body .anuncio-branding-diseno span {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  body .anuncio-diseno-desarrollo .bota1 a,
  body .anuncio-branding-diseno .bota1 a {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  
  body .anuncio-diseno-desarrollo,
  body .anuncio-branding-diseno {
    padding: 2rem;
  }

  body .anuncio-diseno-desarrollo h2,
  body .anuncio-branding-diseno h2,
  body .anuncio-branding-diseno span {
    font-size: 5vw;
    line-height: 6.5vw;
  }

  body .anuncio-diseno-desarrollo .bota1 a,
  body .anuncio-branding-diseno .bota1 a {
    font-size: 10px;
    padding: 10px 20px;
    line-height: 6vw;
    margin-top: 20px;
  }
}

